@import url('https://fonts.googleapis.com/css?family=Kaushan+Script|PT+Sans:400,700|Play|Poiret+One');

@font-face {
  font-family: 'Play', sans-serif;
}

@font-face {
  font-family: 'PT Sans', sans-serif;
}

@font-face {
  font-family: 'Kaushan Script', cursive;
}

@font-face {
  font-family: 'Poiret One', cursive;
}
